
/* 顶部导航 */
#allorder .nav-top{
    /* 设置大小 */
    width:100%;
    height:50px;
    line-height:50px;
    text-align:center;/*文字居中*/
    background:#fff;
    position: fixed;
    top:0px;
  }
  /* 箭头的位置 */
  #allorder .nav-top>img{
    /* 绝对定位 */
    position:relative;
    top:10px;
    right:140px;
  }
  /* 订单表 */
  #allorder .orders{
    width:100%;
    height:50px;
    margin-top:50px;
    line-height:50px;
    background:#fff;
    /* 弹性布局 */
    display:flex;
    justify-content:space-between;
  }
  #allorder .orders .spanImg{
    color:#ccc;
  }
  #allorder .orders .spanImg img{
    position:relative;
    top:10px;
    padding:0 10px;
  }
  #allorder .orders .orders_list{
    display:flex;
    justify-content:space-between;
  
  }
  #allorder .orders .orders_list .order_font{
    /* 设置li字体 */
    font-size:12px;
    margin-left:10px;
  }
  #allorder .detail{
      /* padding-top:10px; */
        height:70px;
        line-height:70px;
  }
  /* ui标签样式 */
  #allorder .mint-cell-wrapper{
      padding-top:15px;
  }
  #allorder .title{
      font-size:12px;
      position:relative;
      bottom:27px;
      left:63px;
  }
  #allorder span.mint-cell-text{
      position: relative;
      left:10px;
  }