/* 公共样式 */
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
/* 背景颜色 */
.bg{
    background: #fafafa;
}
/* 字体相关样式 */
.font_family{
    font-size: 16px;
    color: #717171;
    font-family: 微软雅黑,宋体,arial;
}
/* 字体颜色 */
.font_price{
    color:red;
}
/* 字体大小 */
.font_span{
    font-size: 12px;
}
/* 公共外边距 */
.mr{
    margin-right:20px; 
}
.mb{
    margin-bottom: 10px;
}
.mt{
    margin-top:10px;
}
.t_b_padding{
    padding: 5px 0;
}
.l_r_padding{
    padding: 0 5px;
}

/* 上下边框 */
.bt{
    border-top: 1px solid #eee;
}
.bb{
    border-bottom: 1px solid #eee;
}
