.my_bgcolor{
    background: rgba(175, 165, 165, 0.349) !important;
}
.main_bgcolor{
    background: red ;
}
.login_title{
    height: 35px;
    margin-bottom:10px; 
    text-align: center;
    padding-top:10px; 
    background: #fff;
}
.login_title img{
    float: left;
}
.uname{
    background: url(../../img/mine/user.png) no-repeat;
    background-size:35px; 
}
.upwd{
    background: url(../../img/mine/upwd.png) no-repeat;
    background-size:35px; 
}
input{
    height:35px;
    padding: 0px 2px 2px 39px;
    border:0;  
    border:0;
    margin-bottom: 5px;
}
input+span{
    color:red;
    margin:32px;
}
.point{
    display: flex;
    justify-content: space-between;
}
.point a{
    font-size:15px;
    color:rgba(80,175,82);
}

/* ################################## */
/* 个人信息样式 */
/* 绑定信息图片大小 */
.personal_headImg{
    text-align: center;
    margin-bottom: 5px;
    margin-top:0;
}

.personal_img{
   width: 100%;
   height: 20px;
   background-image: url(../../img/mine/dianhua.png) no-repeat;
   background-size: 25px;
}
/* 个人信息栏单元格下边距 */
.personal_infor{
   /* margin-bottom: 2px solid red;
    */
    margin-bottom: 1px;
}
